// @import "core/settings";
// @import "core/reset";
// @import "components/page";
// @import "components/header";
// @import "components/main";
// @import "components/links";
// @import "components/footer";

@import "components/section_biography/collaborators.scss";
@import "components/section_biography/organizers.scss";
@import "components/section_sessions/sessions-video.scss";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/about.scss";
@import "components/counter.scss";
@import "components/footer.scss";

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  // font-family: "Amiko", sans-serif;

  // font-family: "Rokkitt", serif;
  font-family: "Montserrat", sans-serif;
}

.central-container {
  margin: 0 15px;

  @media all and (min-width: 768px) {
    margin: 0 45px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 auto;
    width: 924px;
  }
}

.main,
.main__biography,
.main_form {
  margin-top: 80%;
  // background-color: green;
  padding: 10px 0 0;
}

@media all and (max-width: 595px) {
  .main,
  .main__biography,
  .main_form {
    margin-top: 48%;
    // background-color: green;
    padding: 10px 0 0;
  }
}

@media all and (min-width: 596px) {
  .main,
  .main__biography,
  .main_form {
    margin-top: 28%;
    // background-color: green;
    padding: 10px 0 0;
  }
}

@media all and (min-width: 767px) {
  .main,
  .main__biography,
  .main_form {
    margin-top: 25%;
    // background-color: green;
    padding: 10px 0 0;
  }
}

@media all and (min-width: 1200px) {
  .main,
  .main__biography,
  .main_form {
    margin-top: 24%;
    // background-color: green;
    padding: 10px 0 0;
  }
}

.main__sessions {
  margin-top: 158px;
  background-color: #fb8a0022;
  padding: 0;
}

@media all and (min-width: 768px) {
  .main__sessions {
    margin-top: 22%;
  }
}

.main__biography {
  background-color: pink;
}

.main_form {
  background-color: yellow;
}

// CONTACT FORM
.contact__title {
  margin: 20px 0 30px;
  font-weight: 500;
  font-size: 20px;
}

.contact__text {
  font-weight: 400;
  line-height: 23px;
  font-size: 17px;
  text-align: left;
  color: #212121;
  background-color: red;
  margin: 20px 0;
}

.contact__form-container {
  background-color: blueviolet;
  margin: 20px auto;
  padding: 0px 40px 20px;
}

.contact__name,
.contact__mailtelf-mail,
.contact__mailtelf-telf,
.contact__mensaje,
.contact__button-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 5px;
}

input {
  height: 20px;
}

.contact__button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin: 0 auto;
}
