// @import "core/settings";
// @import "core/reset";
// @import "components/page";
// @import "components/header";
// @import "components/main";
// @import "components/links";
// @import "components/footer";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/about.scss";
@import "components/counter.scss";
@import "components/footer.scss";

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  // font-family: "Amiko", sans-serif;

  // font-family: "Rokkitt", serif;
  font-family: "Montserrat", sans-serif;
}

.central-container {
  margin: 0 15px;

  @media all and (min-width: 768px) {
    margin: 0 45px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 auto;
    width: 924px;
  }
}

.main {
  margin-top: 158px;
  // background-color: green;
  padding: 10px 0 0;
}
