<section class="about__section">
  <div class="central-container">
    <aside class="about__container">
      <h2 class="about__title">Sobre The Rider Sessions</h2>
      <p class="about__text">
        Referentes profesionales de la música en vivo charlaran con nosotros
        sobre su trabajo en giras nacionales e internacionales. Pondremos el
        foco en los secretos de la producción en ruta, una parte no tan conocida
        dentro del sector y desconocida para la gran mayoría del público. En un
        momento en el que las giras están paradas por fuerza mayor, juntamos
        nuestras ganas de ir de concierto para crear un espacio en el que
        compartir conocimiento antes de volver a los escenarios. Las charlas
        online se retransmiten en abierto para quien esté interesado en aprender
        cómo funciona un tour y tener una visión más amplia del sector ¿Qué
        aprenderemos hoy?
      </p>
    </aside>
  </div>
</section>
