<header class="header">
  <section class="header-logo__container">
    <a href="index.html" class="link-logo__index">
      <img
        src="assets/images/logo TRS.png"
        alt="The rider sessions logo"
        class="logo__the_rider_sessions"
      />
    </a>
  </section>

  <nav class="header-nav">
    <div class="header-nav__container">
      <ul class="header-nav-ul">
        <li class="header-nav-li">
          <a class="header-nav-link" href="sessions.html">Sesiones</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link" href="biography.html">Biografías</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link" href="contact.html">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
