<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Aquí van las fuentes -->
    <link
      href="https://fonts.googleapis.com/css?family=Amiko:400,600,700|Montserrat:300,400,400i,500,500i,600,600i,700,700i,900|Rokkitt:200,300,500,600,700,900|Volkhov&display=swap"
      rel="stylesheet"
    />
    <!-- Aquí van los estilos -->
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>

    <main class="main__biography">
      <section class="biography__section">
        <div class="central-container">
            <div class="biography__container">
            <ul class="biography__list">
              <li class="biography__ade">
                <div class="biography__ade-image-container">
                  <img src="" alt="" class="ade_img">
                </div>
                <ul class="biography__ade-links">
                  <li class="ade-linkedin-container"><a href="" class="linkedin-link"></a></li>
                  <li class="ade-twitter-container"><a href="" class="twitter-link"></a></li>
                  <li class="ade-instagram-container"><a href="" class="instagram-link"></a></li>
                  <li class="ade-mail-container"><a href="" class="mail-link"></a></li>
                </ul>
              </li>

              <li class="biography__marian">
                <div class="biography__marian-image-container">
                  <img src="" alt="" class="marian_img">
                </div>
                <ul class="biography__marian-links">
                  <li class="marian-linkedin-container"><a href="" class="linkedin-link"></a></li>
                  <li class="marian-twitter-container"><a href="" class="twitter-link"></a></li>
                  <li class="marian-instagram-container"><a href="" class="instagram-link"></a></li>
                  <li class="marian-mail-container"><a href="" class="mail-link"></a></li>
                </ul>
              </li>

              <li class="biography__sergio">
                <div class="biography__sergio-image-container">
                  <img src="" alt="" class="sergio_img">
                </div>
                <ul class="biography__asergio-links">
                  <li class="sergio-linkedin-container"><a href="" class="linkedin-link"></a></li>
                  <li class="sergio-twitter-container"><a href="" class="twitter-link"></a></li>
                  <li class="sergio-instagram-container"><a href="" class="instagram-link"></a></li>
                  <li class="sergio-mail-container"><a href="" class="mail-link"></a></li>
                </ul>
              </li>
            </ul>

            </div>
          </div>
        </div>
      </section>

    </main>

    <partial src="_footer.html"></partial>
    <p>biography</p>
  </body>
</html>
