<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Aquí van las fuentes -->
    <link
      href="https://fonts.googleapis.com/css?family=Amiko:400,600,700|Montserrat:300,400,400i,500,500i,600,600i,700,700i,900|Rokkitt:200,300,500,600,700,900|Volkhov&display=swap"
      rel="stylesheet"
    />
    <!-- Aquí van los estilos -->
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>

    <main class="main_form">
      <partial src="section_contact/_form.html"></partial>
    </main>

    <partial src="_footer.html"></partial>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
