// HEADER

.header {
  position: fixed;
  width: 100vw;
  z-index: 300;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  box-shadow: 0 7px 15px 0 #008c4c15;
  background-color: #ffffff;
}

@media all and(min-width: 500px) {
  .header {
    justify-content: center;
  }
}

@media all and (min-width: 767px) {
  .header {
    // background-color: rgba(48, 59, 163, 0.9);
    width: 100vw;
  }
}

.header-nav {
  z-index: 300;
  position: fixed;
  right: -170px;
  top: 0;
  width: 170px;
  height: 50vh;
  background-color: rgba(48, 59, 163, 0.9);
  transition: all 500ms linear;
  color: white;
}

@media all and (min-width: 767px) {
  .header-nav {
    position: static;
    width: 80vw;
    height: 12vh;
    background-color: rgba(48, 59, 163, 0);
    transition: none;
  }
}

.header-nav.active {
  right: 0;
}

.link-logo__index {
  margin-left: -5px;
  padding-top: 40px;
  width: 30%;
  cursor: pointer;
}

.logo__the_rider_sessions {
  width: 45%;
  cursor: pointer;
}

@media all and (min-width: 600px) {
  .logo__the_rider_sessions {
    width: 30%;
  }
  .link-logo__index {
    margin-left: -40px;
    padding-top: 0px;
  }
}

@media all and (min-width: 767px) {
  .link-logo__index {
    margin-left: 0px;
  }
  .logo__the_rider_sessions {
    width: 40%;
  }
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 190px;
  cursor: pointer;
  color: rgba(48, 59, 163, 1);
  border: 2px solid rgba(48, 59, 163, 0.9);
  border-radius: 100%;
}

@media all and (min-width: 380px) {
  .toggle-btn {
    top: 17px;
    right: 210px;
  }
}

.hamburger-menu {
  display: block;
  width: 15px;
  text-align: center;
  font-size: 17px;
  padding: 2px 6px 3px;
}

.hamburger-menu:hover {
  color: orange;
}

@media all and (min-width: 767px) {
  .toggle-btn,
  .hamburger-menu {
    display: none;
  }
}

@media all and (min-width: 767px) {
  .header-nav__container {
    padding: 0 85px;
    width: 100vw;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}

.header-nav-ul {
  font-size: 12px;
}

@media all and (min-width: 767px) {
  .header-nav-ul {
    transition: transform ease 0.8s;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.header-nav-li {
  list-style: none;
  color: orange;
  text-align: center;
  // border-bottom: 1px solid rgba(100, 100, 100, 0.6);
  padding: 69px 10px;
}

@media all and (min-width: 767px) {
  .header-nav-li {
    // border-right: solid 1.5px orange;
    margin-bottom: 31px;
    padding: 25px 0 25px;
  }
}

.header-nav-li:last-child {
  margin-right: 0;
  border-right: none;
}

.header-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0 20px;
}

@media all and (min-width: 767px) {
  .header-nav-link {
    padding: 0 50px;
    color: rgba(48, 59, 163, 0.9);
    font-weight: 700;
  }

  .header-nav-li:first-child .header-nav-link {
    padding-left: 0;
  }

  .header-nav-li:last-child .header-nav-link {
    padding-right: 0;
  }
}
