// COLABORADORES
.biography__collaborators-section {
  margin-top: 20px;
}

.biography__collaborators_main-title {
  border-bottom: 1px solid rgba(48, 59, 163, 1);
  margin: 20px auto 10px;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(48, 59, 163, 1);
}

@media all and (min-width: 767px) {
  .biography__collaborators_main-title {
    font-size: 20px;
  }
}

.biography__collaborators-container {
  // background-color: burlywood;
  padding: 30px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.biography__collaborators-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.biography__collaborators {
  // background-color: sandybrown;
  padding: 10px;
  margin: 30px 0;
}

.biography__collaborators-image-container {
  border-radius: 20px;
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 20px auto 30px;
  overflow: hidden;
}

.collaborator_img {
  width: 100%;
}

// RAQUEL DIAZ
.collaborator3 .collaborator_img {
  width: 192%;
  margin: -4px -29%;
}

// ADRIAN MARTINEZ
.collaborator4 .collaborator_img {
  width: 152%;
  margin: -4px -40%;
}

// JAQUELINE TUROLLA
.collaborator5 .collaborator_img {
  width: 100%;
  margin: -48px 0;
}

// ALEX PINEIRO
.collaborator7 .collaborator_img {
  width: 164%;
  margin: -18px -30%;
}

.collaborator7 .iconos {
  margin-left: 0px;
}

// PATRICIA HERMIDA
.collaborator8 .collaborator_img {
  width: 132%;
  margin: -2px -32%;
}

// CARLOTA GUTIERREZ
.collaborator10 .collaborator_img {
  width: 96%;
  margin: -26px 3%;
}

// GONZALO CORROCHANO
.collaborator11 .collaborator_img {
  margin: -29px 0%;
}

.collaborator11 .biography__collaborators-title {
  margin: 20px auto 20px;
}

// LUCAS ROSSETTO
.collaborator12 .collaborator_img {
  width: 121%;
  margin: -49px -14%;
}

.collaborator12 .iconos {
  margin-left: 0px;
}

// GABY JOYEIX
.collaborator13 .collaborator_img {
  width: 140%;
  margin: -28px -40%;
}

.collaborator13 .iconos {
  margin-left: 0px;
}

.biography__collaborators-text-container {
  text-align: center;
  padding: 0 50px;
}

.biography__collaborators-title {
  border-bottom: 1px solid black;
  margin: 20px auto 10px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 22px;
  max-width: 200px;
}

.biography__collaborators-text {
  padding-top: 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: #212121;
}

// ul
.biography__collaborators-social-networks-list {
  margin: 25px 20px 20px;
  padding: 0;
  list-style: none;
  // color: #303ba3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 767px) {
  .biography__collaborators-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  .biography__collaborators-section {
    margin-top: 80px;
  }
}
