<section class="biography__collaborators-section">
  <div class="central-container">
    <div class="biography__collaborators-container">
      <ul class="biography__collaborators-list">
        <!-- ponente 1 profile -->
        <li class="biography__collaborators collaborator1">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/01-Maria-Valverde_BN.jpg"
              alt="Foto María_Valverde"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">María Valverde</h3>
            <!-- <p class="biography__collaborators-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed soluta repellat praesentium ab modi non. Magni
              commodi aliquid praesentium adipisci, hic quo, placeat ipsam
              reprehenderit dolor omnis, facere accusamus?
            </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/mar%C3%ADa-valverde-3591431a7/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/mariettacon2tes/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="mailto:hello@adevazquez.com"
                target="_blank"
                ><i class="fas fa-envelope"></i>
              </a>
            </li> -->
          </ul>
        </li>

        <!-- ponente 2 profile -->
        <li class="biography__collaborators collaborator2">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/02-Marissa-Bellon_BN.jpg"
              alt="Foto María_Valverde"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">Marissa Bellon</h3>
            <!-- <p class="biography__collaborators-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed soluta repellat praesentium ab modi non. Magni
              commodi aliquid praesentium adipisci, hic quo, placeat ipsam
              reprehenderit dolor omnis, facere accusamus?
            </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/marissabellon/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
              <a class="iconos" href="" target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li> -->

            <!-- <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="mailto:hello@adevazquez.com"
                target="_blank"
                ><i class="fas fa-envelope"></i>
              </a>
            </li> -->
          </ul>
        </li>

        <!-- ponente 3 profile -->
        <li class="biography__collaborators collaborator3">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/03-Raquel-Diaz_BN.jpg"
              alt="Foto Raquel Díaz"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">Raquel Díaz</h3>
            <!-- <p class="biography__collaborators-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed soluta repellat praesentium ab modi non. Magni
              commodi aliquid praesentium adipisci, hic quo, placeat ipsam
              reprehenderit dolor omnis, facere accusamus?
            </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/raquel-diaz-70a286139/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/diasdepereza/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="mailto:hello@adevazquez.com"
                target="_blank"
                ><i class="fas fa-envelope"></i>
              </a>
            </li> -->
          </ul>
        </li>

        <!-- ponente 4 profile -->
        <li class="biography__collaborators collaborator4">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/04-Adrian-Martinez_BN.jpg"
              alt="Foto Adrián Martinez"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">Adrián Martinez</h3>
            <!-- <p class="biography__collaborators-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed soluta repellat praesentium ab modi non. Magni
              commodi aliquid praesentium adipisci, hic quo, placeat ipsam
              reprehenderit dolor omnis, facere accusamus?
            </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/adri%C3%A1n-mart%C3%ADnez-zaragoza-8649791a7/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/ardilladrian/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="mailto:hello@adevazquez.com"
                target="_blank"
                ><i class="fas fa-envelope"></i>
              </a>
            </li> -->
          </ul>
        </li>

        <!-- ponente 5 profile -->
        <li class="biography__collaborators collaborator5">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/05-Jaqueline-Turolla_BN.jpg"
              alt="Foto Jaqueline Turolla"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">Jaqueline Turolla</h3>
            <!-- <p class="biography__collaborators-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed soluta repellat praesentium ab modi non. Magni
              commodi aliquid praesentium adipisci, hic quo, placeat ipsam
              reprehenderit dolor omnis, facere accusamus?
            </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/jaquelineturolla/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/jaquelineturolla/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="mailto:hello@adevazquez.com"
                target="_blank"
                ><i class="fas fa-envelope"></i>
              </a>
            </li> -->
          </ul>
        </li>

        <!-- ponente 6 profile -->
        <li class="biography__collaborators collaborator6">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/06-David-Linde_BN.jpg"
              alt="Foto David Linde"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">David Linde</h3>
            <!-- <p class="biography__collaborators-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Architecto sed soluta repellat praesentium ab modi non. Magni
                      commodi aliquid praesentium adipisci, hic quo, placeat ipsam
                      reprehenderit dolor omnis, facere accusamus?
                    </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <li class="social-networks__collaborators-containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/david-linde-a35a0b199/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/david_linde_/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
                      <a
                        class="iconos"
                        href="mailto:hello@adevazquez.com"
                        target="_blank"
                        ><i class="fas fa-envelope"></i>
                      </a>
                    </li> -->
          </ul>
        </li>

        <!-- ponente 7 profile -->
        <li class="biography__collaborators collaborator7">
          <div class="biography__collaborators-image-container">
            <img
              src="assets/images/ponentes/07-Alex-Pineiro_BN.jpg"
              alt="Foto Alex Piñeiro"
              class="collaborator_img"
            />
          </div>
          <div class="biography__collaborators-text-container">
            <h3 class="biography__collaborators-title">Alex Piñeiro</h3>
            <!-- <p class="biography__collaborators-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Architecto sed soluta repellat praesentium ab modi non. Magni
                      commodi aliquid praesentium adipisci, hic quo, placeat ipsam
                      reprehenderit dolor omnis, facere accusamus?
                    </p> -->
          </div>

          <ul class="biography__collaborators-social-networks-list">
            <!-- <li class="social-networks__collaborators-containers">
              <a class="iconos linkedin" href="" target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li> -->

            <li class="social-networks__collaborators-containers">
              <a
                class="iconos"
                href="https://www.instagram.com/alexpineiro_/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- <li class="social-networks__collaborators-containers">
                      <a
                        class="iconos"
                        href="mailto:hello@adevazquez.com"
                        target="_blank"
                        ><i class="fas fa-envelope"></i>
                      </a>
                    </li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
