<section class="biography__organizers-section">
  <div class="central-container">
    <div class="biography__organizers-container">
      <ul class="biography__organizers-list">
        <!-- Ade profile -->
        <li class="biography__organizers ade_organizer">
          <div class="biography__organizers-image-container">
            <img
              src="assets/images/organizadores/AdeVazquez_BN.jpg"
              alt="Foto Adela_Vázquez"
              class="organizer_img"
            />
          </div>
          <div class="biography__organizers-text-container">
            <h3 class="biography__organizers-title">Ade Vázquez</h3>
            <p class="biography__organizers-text">
              Tour y Production Manager cuyo lema es 'no existe un problema que
              no solucionemos'. Ha trabajado con bandas de una gran variedad de
              países a nivel nacional y europeo en diferentes perfiles dentro de
              la producción. Entre las bandas con las que ha trabajado se
              encuentran Javiera Mena o Protoje y festivales de la talla del
              Primavera Sound.
            </p>
          </div>

          <ul class="biography__organizers-social-networks-list">
            <li class="social-networks_containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/adelavazquez/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks_containers">
              <a
                class="iconos"
                href="https://www.instagram.com/ade_vazquez_/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>

        <!-- Mar profile -->
        <li class="biography__organizers mar_organizer">
          <div class="biography__organizers-image-container">
            <img
              src="assets/images/organizadores/MarRojo_BN.jpg"
              alt="Foto Mar_Rojo"
              class="organizer_img"
            />
          </div>
          <div class="biography__organizers-text-container">
            <h3 class="biography__organizers-title">Mar Rojo</h3>
            <p class="biography__organizers-text">
              Actual programadora de la mítica sala El Sol de Madrid, ha estado
              durante más de cinco años al frente de la dirección artística de
              Moby Dick Club. Doctora en Comunicación Audiovisual y orgullosa
              vocal de MIM (Mujeres en la Industria de la Música) desarrolla sus
              primeros años de carrera entre Roma y Madrid. Es fundadora de la
              promotora de conciertos La Estanquera Presenta S.L. y siempre ha
              tenido pasión por la producción de eventos, tanto musicales como
              relacionados con el audiovisual, en el sector público y privado,
              así ha colaborado en el Primavera Club, Tomavistas, Día de la
              Música, B de Bici, Enérgicas Greenpeace…y está al frente de la
              producción del festival madrileño Sound Isidro.
            </p>
          </div>

          <ul class="biography__organizers-social-networks-list">
            <li class="social-networks_containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/rojomar/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks_containers">
              <a
                class="iconos"
                href="https://www.instagram.com/mar_rojo_gram/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>

        <!-- Adrián profile -->
        <li class="biography__organizers adrian_organizer">
          <div class="biography__organizers-image-container">
            <img
              src="assets/images/organizadores/AdrianEspada_BN.jpg"
              alt="Foto Adrián_Espada"
              class="organizer_img adri"
            />
          </div>
          <div class="biography__organizers-text-container">
            <h3 class="biography__organizers-title">Adrián Espada</h3>
            <p class="biography__organizers-text">
              Militante cultural y defensor de la periferia. Ha desarrollado
              varios proyectos propios como Ultramarino Sonoro o Coolturearte.
              De forma habitual podemos encontrarle entre las paredes del mítico
              Violín Café con más de 35 años a sus espaldas encargádose de su
              programación Además trabaja dentro del panorama musical como
              producción en distintos festivales y sobre todo haciendo
              kilómetros en giras (Rufus T Firefly, Carmen Boza, Miss Caffeina,
              El Kanka y Zenet).
            </p>
          </div>

          <ul class="biography__organizers-social-networks-list">
            <li class="social-networks_containers">
              <a
                class="iconos linkedin"
                href="https://www.linkedin.com/in/adrian-espada-57611b125/"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks_containers">
              <a
                class="iconos"
                href="https://www.instagram.com/adrianwaltermelon/"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>

        <!-- Cristina profile -->
        <li class="biography__organizers cristina_organizer">
          <div class="biography__organizers-image-container">
            <img
              src="assets/images/organizadores/CristinaEscobar_BN.jpg"
              alt="Foto Cristina_Escobar"
              class="organizer_img cristina"
            />
          </div>
          <div class="biography__organizers-text-container">
            <h3 class="biography__organizers-title">Cristina Escobar</h3>
            <p class="biography__organizers-text">
              Actualmente fotógrafa y videógrafa en proyectos freelance para
              spots comerciales y fashion films de jóvenes promesas. Ha
              trabajado en los últimos años como ayudante de Producción en el
              Teatro Prosperidad de Madrid y como Community Manager para
              diferentes empresas del sector publicitario. Formada en imagen,
              producción audiovisual y Social Media.
            </p>
          </div>

          <ul class="biography__organizers-social-networks-list">
            <li class="social-networks_containers">
              <a class="iconos linkedin" href="" target="_blank"
                ><i class="fab fa-linkedin-in"></i>
              </a>
            </li>

            <li class="social-networks_containers">
              <a class="iconos" href="" target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
